In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset
import torch.optim as optim
import os

Load Dataset

In [3]:
folder_path = "../Datasets/UTK_Dataset/UTKFace" 
file_names = os.listdir(folder_path)

data = []

for name in file_names:
    
    parts = name.split('_')
    
    if len(parts) > 1:
        age = int(parts[0]) 
        data.append({
            'image_path': os.path.join(folder_path, name),
            'age': age
        })

# Now you have a clean table!
df = pd.DataFrame(data)
print(df.head())

                                          image_path  age
0  ../Datasets/UTK_Dataset/UTKFace\100_0_0_201701...  100
1  ../Datasets/UTK_Dataset/UTKFace\100_0_0_201701...  100
2  ../Datasets/UTK_Dataset/UTKFace\100_1_0_201701...  100
3  ../Datasets/UTK_Dataset/UTKFace\100_1_0_201701...  100
4  ../Datasets/UTK_Dataset/UTKFace\100_1_0_201701...  100

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23708 entries, 0 to 23707
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_path  23708 non-null  object
 1   age         23708 non-null  int64
dtypes: int64(1), object(1)
memory usage: 370.6+ KB

In [5]:
df.describe()

                age
count  23708.000000
mean      33.303484
std       19.886112
min        1.000000
25%       23.000000
50%       29.000000
75%       45.000000
max      116.000000